@{
    Layout="Shared/_Layout.cshtml";
}
<div class="transbox form">
    <fieldset>
        <div class="form-group">
            <form action="/categories" method="post">
                <label for="category-name">Category Name</label>
                <input id="category-name" class="form-control" name="category-name" type="text">
            </div>
            <div class="form-group">

                <label for="category-recipe">Recipe</label>
                <select class="form-control" name="recipe-id">
                    @foreach(var recipe in Model)
                    {
                        <option value ="@recipe.GetId()">@recipe.GetName()</option>
                    }
                </select>
            </div>
            <button class="btn btn-lg btn-primary" type="submit">Add Category</button>
        </form>
    </fieldset>
</div>
