@{
    Layout="Shared/_Layout.cshtml";
}

<div class="transbox">
<form action="/recipes" method="post">
    <fieldset>
        <div class="form-group">
            <label for="recipe-name">Recipe Name</label>
                <input class="form-control" id="recipe-name" name="recipe-name" type="text">
        </div>
        <div class="form-group">
            <label for="ingredients">Ingredients</label>
                <input class="form-control" id="ingredients" name="ingredients" type="text">
        </div>
        <div class="form-group">
            <label for="instructions">Instructions</label>
                <textarea class="form-control" rows="5" id="instructions" name="instructions" type="text"></textarea>
        </div>
        <div class="form-group">
            <label for="cook-time">Cook Time</label>
            <select class="form-control" name="cook-time">
                <option>15 Minutes</option>
                <option>30 Minutes</option>
                <option>45 Minutes</option>
                <option>60 Minutes +</option>
            </select>
        </div>
        <div class="form-group">
            <label for="rating">Rating</label>
            <select class="form-control" name="rating">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="recipe-category">Category</label>
            <select class="form-control" name="category-id">
                @foreach(var category in Model)
                {
                    <option value ="@category.GetId()">@category.GetName()</option>
                }
            </select>
        </div>
        <label for="recipe-url">Photo URL</label>
        <input class="form-control" type="url" name="recipe-url">
        <br>
        <button class="btn btn-lg btn-primary" type="submit">Add Recipe</button>
    </fieldset>
</form>

</div>
