body {
    background-image: url("../img/img2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width:100vw;
    height:100vh;
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

div.transbox {
    color: white;
    padding: 20px;
    background-color: rgba(201,192,195, 0.5);
    border: 1px solid white;
    /*opacity: 0.6;*/
    position: relative;
    width:80%;
    margin: 0 auto;
    margin-top: 60px;
}

/*div.transbox .index{
    color: white;
    padding: 20px;
    background-color: rgba(201,192,195, 0.5);
    border: 1px solid white;
    position: relative;
}*/
.img-circle {
    border-radius: 80%;
}


.navbar {
    height: 70px;
}

a {
    color: white;
}

.food {
    float: inherit;
}
