body {
    background-image: url("../img/img2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width:100vw;
    height:100vh;
}

div.transbox {
  color: white;
  padding: 20px;
  background-color: rgba(201,192,195, 0.5);
  border: 1px solid white;
  /*opacity: 0.6;*/
    position: relative;
    width:50%;
    margin: 0 auto;
    margin-top: 60px;
}
